<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">target/test.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
        </Console>
        <File name="File" fileName="expectiminimax_backgammon.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="askov.schoolprojects.ai.expectiminimaxbackgammon.gameplay.player.ExpectiminimaxPlayer" level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>